@page "/portfolio"



<h3>Morten Højrup Kristensen</h3>

<div class="about-me">
    <div class="about-card">
        <MudCard>
            <MudCardContent>
                <MudText Color="Color.Info" Typo="Typo.body1">Education: </MudText>
                <MudText Typo="Typo.body2">AP Degree Computer Science (2018 - 2020)</MudText>
                <MudText Typo="Typo.body2">BSc Web Development (2020 - 2021)</MudText>
            </MudCardContent>

            <MudCardContent>
                <MudText Color="Color.Info" Typo="Typo.body1">Work: </MudText>
                <MudText Typo="Typo.body2">Mentor IT (2018 - 2020)</MudText>
                <MudText Typo="Typo.body2">2Care4 (2020 - now)</MudText>
            </MudCardContent>

            <MudCardContent>
                <MudText Color="Color.Info" Typo="Typo.body1">Skills: </MudText>
                <MudText Typo="Typo.body2">C#</MudText>
                <MudText Typo="Typo.body2">SQL</MudText>
                <MudText Typo="Typo.body2">MongoDB</MudText>
                <MudText Typo="Typo.body2">Blazor</MudText>
                <MudText Typo="Typo.body2">Javascript</MudText>
                <MudText Typo="Typo.body2">Angular</MudText>
                <MudText Typo="Typo.body2">React</MudText>
                <MudText Typo="Typo.body2">Typescript</MudText>
            </MudCardContent>

            <MudCardContent>
                <MudText Color="Color.Info" Typo="Typo.body1">Interests: </MudText>
                <MudText Typo="Typo.body2">Golf</MudText>
                <MudText Typo="Typo.body2">NFL</MudText>
                <MudText Typo="Typo.body2">F1</MudText>
            </MudCardContent>
        </MudCard>
    </div>

</div>


<div class="chips">
    <MudChip Icon="@Icons.Custom.Brands.Twitter" Label="true" Color="Color.Info" Variant="Variant.Outlined" Link="https://twitter.com/HKLANGEE">Twitter</MudChip>
    <MudChip Icon="@Icons.Custom.Brands.GitHub" Label="true" Color="Color.Dark" Variant="Variant.Outlined" Link="https://github.com/langehk">GitHub</MudChip>
    <MudChip Icon="@Icons.Custom.Brands.LinkedIn" Label="true" Color="Color.Primary" Variant="Variant.Outlined" Link="https://www.linkedin.com/in/morten-kristensen-b9a28b6b/">LinkedIn</MudChip>
</div>

<br />  
<div>
    


</div>


@code {

    // Inspiration
    // https://miro.medium.com/max/1200/1*cCSPNVamSLEleOMgxKX1oA.gif
}
