<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">WebApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="players">
                <span class="oi oi-plus" aria-hidden="true"></span> Players
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scores">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Scores
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="standings">
                <span class="oi oi-star" aria-hidden="true"></span> Standings
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="password">
                <span class="oi oi-star" aria-hidden="true"></span> Password gen.
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dishes">
                <span class="oi oi-star" aria-hidden="true"></span> Whats for dinner?.
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
