@page "/password"
@inject PasswordService _passwordService; 

<h3>PasswordGenerator</h3>

<MudBlazor.MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="GeneratePassword">
    Generate password

</MudBlazor.MudButton>

<MudBlazor.MudTextFieldString @bind-Value="generatedPassword" Style="width:200px" >
    
</MudBlazor.MudTextFieldString>



@code {

    public string generatedPassword { get; set; }

    public void GeneratePassword()
    {

        var result = _passwordService.genPassword();

        generatedPassword = result;
    }

}
