@page "/players"
@inject IPlayerService playerService;


@if (PlayerData == null)
{
    <div class="spinner-border"></div>
}
else
{

    <h3>Players</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Handicap</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in PlayerData)
            {
                <tr>
                    <td>@player.Id</td>
                    <td>@player.Name</td>
                    <td>@player.Handicap</td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    IEnumerable<WebApp.Data.Player> PlayerData;


    protected override async Task OnInitializedAsync()
    {
        PlayerData = await Task.Run(() => playerService.GetPlayers());
    }

}
